@charset "UTF-8";

@import "common";

.bui-refresh{
  position: absolute;
  left: 0px;
  right: 0px;
  height: 100px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.bui-refresh-indicator{
  font-size: 30px;
  text-align: center;
  color: $color_subtitle;
}
